
services:
  auth-service:
    build:
      context: ../AuthModule/
      dockerfile: dockerfile
    ports:
      - "8080:8080"  # host:container
    networks:
      - app-network

  vehicles-service:
    build:
      context: ./
      dockerfile: dockerfile
    ports:
      - "8081:8081"
    networks:
      - app-network

  zookeeper:
    image: wurstmeister/zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - app-network

  kafka:
    image: wurstmeister/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper
    networks:
      - app-network

  expiration-service:
    build:
      context: ../Expiration/
      dockerfile: dockerfile
    container_name: expiration-service
    ports:
      - "8082:8080"  # espone 8080 del container sulla 8082 host per non confliggere con auth
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on:
      - kafka
    networks:
      - app-network

networks:
  app-network:
    driver: bridge