
services:
  auth-service:
    build:
      context: ../AuthModule/
      dockerfile: dockerfile
    ports:
      - "8080:8080"  # host:container
    networks:
      - app-network

  vehicles-service:
    build:
      context: ./
      dockerfile: dockerfile
    ports:
      - "8081:8081"
    networks:
      - app-network

  kafka:
    image: 	apache/kafka:latest
    container_name: kafka
    environment:
          KAFKA_PROCESS_ROLES: broker,controller
          KAFKA_NODE_ID: 1
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
          KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093
          KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
          KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
          KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
          KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
          KAFKA_CLUSTER_ID: "RANDOM_CLUSTER_ID"  # Lo devi generare una volta sola
    ports:
      - "9092:9092"
    networks:
      - app-network

  expiration-service:
    build:
      context: ../Expiration/
      dockerfile: dockerfile
    container_name: expiration-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on:
      - kafka
    networks:
      - app-network

  api-gateway:
    build:
      context: ../ApiGateway/
      dockerfile: dockerfile
    container_name: api-gateway
    ports:
      - "8083:8083"
    depends_on:
      - auth-service
      - vehicles-service
      - expiration-service
    networks:
      - app-network

  vault:
     image: hashicorp/vault:1.14.1
     container_name: vault
     ports:
       - "8200:8200"
     environment:
       VAULT_DEV_ROOT_TOKEN_ID: "root"
       VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"
     cap_add:
       - IPC_LOCK
     networks:
       - app-network


networks:
  app-network:
    driver: bridge